[submodule "home/.config/tmux/tmux-powerline"]
	path = home/.config/tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "home/.config/oh-my-zsh/themes/oh-my-zsh-powerline-theme"]
	path = home/.config/oh-my-zsh/themes/oh-my-zsh-powerline-theme
	url = https://github.com/jeremyFreeAgent/oh-my-zsh-powerline-theme.git
[submodule "home/.config/solarized"]
	path = home/.config/solarized
	url = https://github.com/solarized/xresources.git
