[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
